############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.ipr
*.iws

############################
# Java build / output
############################
out/
target/
build/

############################
# Logs & temp files
############################
*.log
*.tmp
*.bak

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Environment / local configs
############################
.env

